.contenedor1 {
  display: flex;                  
  justify-content: center;     
  align-items: center;           
  height: 100vh;                
  background-color: #eee;      
}

.presentacion1 {

  width: 500px;
  height: auto;
  background-color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  flex: 1 1 200px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 1.30vh;
    box-shadow: 0 0.13vh 0.78vh rgba(0,0,0,0.1);
    justify-content: center;

}
 .boton{
  margin: 0.65vh;
  background-color: #023047;
  color: white;
  border: none;
  border-radius: 0.78vh;
  padding: 1.30vh;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
 header {
  background-color: #fff;
  padding: 1.30vh 2.60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.26vh 0.65vh rgba(0,0,0,0.1);
  position: relative;
  gap: 1.95vh;
}
.titulo{
     font-family: Arial, sans-serif;
    text-align: start;
    color:black);
     background-color: #fff;
      font-size: 14px;
    padding: 10px;
}

}
h2{
    color: rgb(192, 161, 113);
}
.conten{
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    padding: 20px;
}

.caja{
    flex: 1 1 200px;
    width: 200px;
    text-align: center;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 1.30vh;
    padding: 10px;
     box-shadow: 0 0.13vh 0.78vh rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}
.caja:hover {
  transform: translateY(-0.65vh);
  box-shadow: 0 0.78vh 1.95vh rgba(0,0,0,0.15);
}
.presentacion {
    flex: 1 1 200px;
    width: 500px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 1.30vh;
    padding: 10px;
    box-shadow: 0 0.13vh 0.78vh rgba(0,0,0,0.1);
    justify-content: center;
      font-size: 14px;
    
}



.caja.img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.descripcion{
    margin-top: 10px;
    font-size: 16px;
}

.titulasosdeladescriopcion{
  background-color: #fff;
  padding: 1.30vh 2.60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.26vh 0.65vh rgba(0,0,0,0.1);
  position: relative;
  gap: 1.95vh;
  font-family: Arial, sans-serif;
}
p{
  font-family: 'font-family: Arial, sans-serif';
  font-size: 1.1rem;         
  line-height: 1.6;          
  margin: 10px 0 20px 0;           
  letter-spacing: 0.3px;
}

footer {
  background-color: rgb(73, 53, 15);      
  padding: 20px 20px;
  border-top: 1px solid #3a2d2d;     
  font-size: 0.9rem;
  text-align: center;
}
/*Para que sea responsive*/
 @media (max-width: 600px) {
      .caja {
        max-width: 100%;
      }
    }